/* 文章描述居中加粗 */
#recent-posts > .recent-post-item >.recent-post-info > .content {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 0.3rem;
    word-break: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* 代码行号显示白色 */
#article-container figure.highlight .gutter pre {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #263238;
    text-align: right;
}